// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@import './assets/styles/palettes.scss';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dezemba-primary: mat.define-palette($primary-palette, 800, 500, 900);
$dezemba-accent: mat.define-palette($secondary-palette, 300, 200, 500);

// The warn palette is optional (defaults to red).
$dezemba-warn: mat.define-palette($warning-palette);
$dezemba-danger: mat.define-palette($danger-palette);
$dezemba-success: mat.define-palette($success-palette);
$dezemba-info: mat.define-palette($info-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dezemba-theme: mat.define-light-theme((
  color: (
    primary: $dezemba-primary,
    accent: $dezemba-accent,
    warn: $dezemba-warn,
    danger: $dezemba-danger,
    success: $dezemba-success,
    info: $dezemba-info,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dezemba-theme);

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, Noto,sans-serif;
  font-weight: regular;
  font-size: 14px;
}


.display-4 {
  font-family: Roboto, Noto,sans-serif;
  font-weight: light;
  font-size: 112px;
}

.display-3 {
  font-family: Roboto, Noto,sans-serif;
  font-weight: regular;
  font-size: 56px;
}

.display-2 {
  font-family: Roboto, Noto,sans-serif;
  font-weight: regular;
  font-size: 45px;
}

.display-1 {
  font-family: Roboto, Noto,sans-serif;
  font-weight: regular;
  font-size: 34px;
}

.headline {
  font-family: Roboto, Noto,sans-serif;
  font-weight: regular;
  font-size: 24px;
}

.title {
  font-family: Roboto, Noto,sans-serif;
  font-weight: medium;
  font-size: 20px;
}

.subheading-2 {
  font-family: Roboto, Noto,sans-serif;
  font-weight: medium;
  font-size: 16px;
}

.subheading-1 {
  font-family: Roboto, Noto,sans-serif;
  font-weight: regular;
  font-size: 16px;
}

.body-2 {
  font-family: Roboto, Noto,sans-serif;
  font-weight: medium;
  font-size: 14px;
}

.body-1 {
  font-family: Roboto, Noto,sans-serif;
  font-weight: regular;
  font-size: 14px;
}

caption {
  font-family: Roboto, Noto,sans-serif;
  font-weight: regular;
  font-size: 12px;
}

button {
  font-family: Roboto, Noto,sans-serif;
  font-weight: medium;
  font-size: 14px;
}

input {
  font-family: Roboto, Noto,sans-serif;
  font-weight: regular;
  font-size: 12px;
}


@font-face {
  font-family: 'Londrina-Solid';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(./assets/fonts/londrina-solid/londrina-solid-latin-400-normal.woff2) format('woff2'), url(./assets/fonts/londrina-solid/londrina-solid-latin-400-normal.woff2) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+0304,U+0308,U+0329,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}