<div class="register-container">
  <div class="register-card-content">
    <mat-card>
      <nav>
        <button  mat-icon-button colour="primary" (click)="goBack()">
          <mat-icon>arrow_back</mat-icon>
        </button>
    </nav>
    <div class="logo-welcome-container">
      <div class="welcome-container">
        <span class="welcome title">Welcome to dezemba</span>
        <span class="extension title">.io</span>
    </div>
    </div>
      <div class="stepper-container">
        <mat-stepper headerPosition="bottom" labelPosition="bottom" [linear]="isLinear" #stepper color="primary">
          <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Company Name</mat-label>
                <input matInput type="text" formControlName="firstCtrl" required>
                <mat-icon color="primary" matSuffix>store_outline</mat-icon>
              </mat-form-field>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Country</mat-label>
                <input matInput type="text" formControlName="firstCtrl" required>
                <mat-icon color="primary" matSuffix>language</mat-icon>
              </mat-form-field>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Placeholder</mat-label>
                <input matInput type="text" formControlName="firstCtrl" required>
                <mat-icon color="primary" matSuffix>work_outline</mat-icon>
              </mat-form-field>
              <div class="button-row">
                <button mat-raised-button color="primary" matStepperNext>Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="text" formControlName="secondCtrl" placeholder="Email" required>
                <mat-icon color="primary" matSuffix>mail_outline</mat-icon>
              </mat-form-field>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput [type]="hide1 ? 'password' : 'text'"  required>
                <button color="primary" mat-icon-button matSuffix (click)="hide1 = !hide1" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                  <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
              <mat-form-field color="primary" appearance="outline">
                <mat-label>Confirm Password</mat-label>
                <input matInput [type]="hide2 ? 'password' : 'text'" required>
                <button color="primary" mat-icon-button matSuffix (click)="hide2 = !hide2" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2" >
                  <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
              </mat-form-field>
            </form>
            <div class="button-row">
              <button mat-raised-button color="primary" matStepperPrevious>Back</button>
              <button mat-raised-button color="accent">Register</button>
            </div>
          </mat-step>
        </mat-stepper>
      </div>
  <div class="bottom-content">
    <span class="login-message">Have an account?</span>
    <button mat-button color="accent" routerLink="/login">Login</button>
</div>
    </mat-card>
  </div>
</div>
