/* Register Container */
.register-container {
  background: linear-gradient(to bottom, var(--primary-2), var(--secondary-1));
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Register Form */
.register-form {
  position: relative;
  border-radius: 16px;
  width: 300px;
  background-color: var(--background-1);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  text-align: center;
  padding: 20px; /* Add padding for better spacing */
}

/* Logo */
.logo {
  margin-top: 0px; /* Adjust margin between logo and form */
  /* Add any necessary styles for the logo */
}

/* Form Title */
.form-title {
  font-weight: bold;
  color: var(--primary-1);
  font-family: "Londrina Solid", Helvetica, Arial;
  font-size: 24px;
  margin-bottom: 20px;
}

.form-title::after {
  content: attr(data-text);
  color: var(--accent-1);
}

/* Register Input */
.register-input {
  border: none;
  height: 40px;
  width: calc(100% - 24px); /* Adjust width calculation */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin: 10px auto;
  padding-left: 8px;
}

.register-input input {
  padding: 8px;
  border: none;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.register-input input::placeholder {
  color: var(--text-1);
  opacity: 0.25;
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}

/* Registration Step Button */
.reg-step-button {
  height: 40px;
  margin: 10px auto;
  border-radius: 25px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  background: linear-gradient(to top right, var(--accent-1), var(--secondary-1));
  font-weight: bold;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: white;
  width: calc(100% - 24px); /* Adjust width calculation */
  cursor: pointer;
}

/* Form Stepper */
.form-stepper {
  background-color: var(--background-1);
  border-radius: 16px;
}

/* Step Labels */
.mat-step-label {
  font-size: 12px;
  font-family: Helvetica, sans-serif;
}

.mat-step-label.mat-step-label-active.mat-step-label-selected {
  color: var(--accent-1);
  font-size: 12px;
  font-family: Helvetica, sans-serif;
  font-weight: 800;
}

/* Back Button */
.back-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.back-button mat-icon {
  color: var(--primary-1);
  margin-right: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
  /* Add vertical alignment */
  vertical-align: middle
}

.back-button span {
  font-size: 12px;
  color: var(--primary-1);
  font-family: Helvetica, sans-serif;
  transition: color 0.3s ease;
  /* Add vertical alignment */
  display: inline-flex;
  align-items: center;
}

/* Hover effect */
.back-button-container:hover .back-button mat-icon,
.back-button-container:hover .back-button span {
  color: var(--accent-1);
}