<header class="landing-header">
  <!-- Top Navigation Bar -->
  <nav class="top-navigation mat-elevation-z2">
    <div class="left-section">
      <img class="logo" src="../../assets/svg/dezemba-logo-with-text.svg" alt="Logo">
      <mat-form-field class="dropdown">
        <mat-select placeholder="Products">
          <mat-option *ngFor="let product of products" [value]="product.value">
            {{ product.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="dropdown">
        <mat-select placeholder="Pricing">
          <mat-option *ngFor="let plan of plans" [value]="plan.value">
            {{ plan.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="right-section">
      <button mat-raised-button color="primary" (click)="navigateToLogin()">Login</button>
      <button mat-raised-button color="accent" (click)="navigateToRegister()">Register</button>
    </div>
  </nav>

  <!-- Other content of the landing page goes here -->
</header>

<div class="extra-content"> hello world!</div>
