<footer class="app-footer mat-elevation-z2">
    <!-- <div class="footer-content">
        <div class="footer-section">
            <h3 mat-subheader>About Us</h3>
            <mat-nav-list>
                <a mat-list-item routerLink="/about">About the company</a>
                <a mat-list-item routerLink="/team">Our team</a>
                <a mat-list-item routerLink="/contact">Contact Us</a>
            </mat-nav-list>
        </div>
        <div class="footer-section">
            <h3 mat-subheader>Services</h3>
            <mat-nav-list>
                <a mat-list-item routerLink="/service1">Service 1</a>
                <a mat-list-item routerLink="/service2">Service 2</a>
                <a mat-list-item routerLink="/service3">Service 3</a>
            </mat-nav-list>
        </div>
        <div class="footer-section">
            <h3 mat-subheader>Follow Us</h3>
            <mat-nav-list>
                <a mat-list-item href="#">Social media links</a>
                <a mat-list-item href="#">Subscribe to newsletter</a>
            </mat-nav-list>
        </div>
    </div> -->
    <div class="footer-bottom">
        <p>&copy; 2024 Dezemba.io. All rights reserved.</p>
    </div>
</footer>
