/* Styles for the landing header */
.home-header {
    background: var(--background-1);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
  }
  
  /* Styles for the top navigation */
  .top-navigation {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    height:60;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
  }
  
  /* Logo style */
  .logo {
    height: 50px;
    padding-right: 24px;
  }
  
  /* Signout button style */
  .signout-btn {
    height: 40px;
    margin: 10px auto;
    border-radius: 8px;
    border: 2px solid var(--accent-1);
    background: rgba(240, 10, 202, 0.2);
    font-weight: bold;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    color: rgba(240, 10, 202, 1);
    width: 100px;
    cursor: pointer;
    transition: box-shadow 0.3s, opacity 0.3s, color 0.3s; /* Added transition for smoother interaction */
  }
  
  .signout-btn:active {
    box-shadow: none;
    opacity: 1;
    color: white;
  }
  

  .extra-content {
    height: 200vh; /* This will make the div larger than the viewport height (200% of viewport height) */
    /* Add any other styling if needed */
}