/* Styles for the landing header */
.landing-header {
  background: var(--background-1);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
}

/* Styles for the top navigation */
.top-navigation {
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 100;
}

/* Logo style */
.logo {
  height: 70px;
  padding-right: 24px;
}

/* General button styles */
button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

/* Sign-in button styles */
.signin-btn {
  height: 40px;
  margin: 10px auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border: none;
  background: linear-gradient(to top right, var(--accent-1), var(--secondary-1));
  font-weight: bold;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: white;
  width: 100px;
  cursor: pointer;
}

.signin-btn:active {
  box-shadow: none;
  opacity: 0.5;
}

/* Register button styles */
.register-btn {
  height: 40px;
  margin: 10px auto;
  border-radius: 8px;
  border: 2px solid var(--accent-1);
  background: rgba(240, 10, 202, 0.2);
  font-weight: bold;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  color: rgba(240, 10, 202, 1);
  width: 100px;
  cursor: pointer;
}

.register-btn:active {
  box-shadow: none;
  opacity: 1;
  color: white;
}

/* Dropdown styles */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 100px;
  z-index: 1;
}

.dropdown-content a {
  color: var(--primary-1);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Left and right section styles */
.left-section {
  display: flex;
  align-items: center;
}

.right-section {
  display: flex;
  gap: 16px;
}

/* Dropdown button styles */
.dropdown-btn {
  cursor: pointer;
  color: var(--primary-1);
  font-weight: bold;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  background-color: white;
}
