<div class="login-container">
    <form class="login-form">
        <!-- Back button -->
        <div class="back-button-container" (click)="navigateToLanding()" role="button" tabindex="0">
            <div class="back-button">
                <mat-icon aria-label="Back">arrow_back</mat-icon>
                <span>Back</span>
            </div>
        </div>

        <!-- Logo -->
        <img class="logo" src="../../assets/svg/dezemba-logo.svg" alt="Logo">

        <!-- Form Title -->
        <h2 class="form-title" [attr.data-text]="lastThreeLetters">Welcome to dezemba</h2>

        <!-- Email Input -->
        <div>
            <input class="login-input" type="text" id="username" name="email" placeholder="Email" required>
        </div>

        <!-- Password Input -->
        <div>
            <input class="login-input" type="password" id="password" name="password" placeholder="Password" required>
        </div>

        <!-- Sign In Button -->
        <button class="signin-button" type="submit" (click)="navigateToHome()">SIGN IN</button>

        <!-- Navigation Links -->
        <nav>
            <!-- Forgot Password Link -->
            <p class="login-bottom-text"><a (click)="navigateToNotFound()" role="button" tabindex="0">Forgot Password (non-functional)</a></p>
            
            <!-- Create Account Link -->
            <p class="login-bottom-text"><a (click)="navigateToRegister()" role="button" tabindex="0">No account? Create one</a></p>
        </nav>
    </form>
</div>
