/* Form Title */
.form-title {
    text-align: center;
    font-weight: bold;
    color: var(--primary-1);
    position: relative;
    font-family: "Londrina Solid", Helvetica, Arial;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .form-title::after {
    content: attr(data-text);
    color: var(--accent-1);
    font-family: "Londrina Solid", Helvetica, Arial;
  }
  
  /* Login Container */
  .login-container {
    background: linear-gradient(to bottom, var(--primary-2), var(--secondary-1));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Login Form */
  .login-form {
    border-radius: 16px;
    width: 300px;
    padding: 20px;
    background-color: var(--background-1);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    text-align: center;
  }
  
  /* Login Input */
  .login-input {
    position: relative;
    border: none;
    height: 40px;
    width: calc(80% - 10px);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 10px auto;
    padding-left: 12px; /* Adjust the value as needed */
  }
  
  .login-input input {
    padding: 8px;
    border: none;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .login-input input::placeholder {
    color: var(--text-1);
    opacity: 0.25;
    font-size: 12px;
    font-family: Helvetica, sans-serif;
  }
  /* Sign-in Button */
  .signin-button {
    height: 50px;
    margin: 10px auto;
    border-radius: 16px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    border: none;
    background: linear-gradient(to top right, var(--accent-1), var(--secondary-1));
    font-weight: bold;
    font-size: 16px;
    font-family: Helvetica, sans-serif;
    color: white;
    width: calc(80% - 10px);
    cursor: pointer;
  }

  .signin-button:active {
    box-shadow: none;
    background: linear-gradient(to top right, var(--accent-1), var(--secondary-1));
    opacity: 0.5;
  }
  
  /* Login Bottom Text */
  .login-bottom-text {
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    color: var(--text-1);
    transition: color 0.3s ease;
  }
  
  .login-bottom-text a:hover {
    text-decoration: underline;
    color: var(--accent-1);
    transition: color 0.3s ease;
  }
  
/* Logo */
.logo {
  margin-right: 0px; /* Adjust margin between logo and form */
  /* Add any necessary styles for the logo */
}

/* Back Button */
.back-button-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.back-button mat-icon {
  color: var(--primary-1);
  margin-right: 8px;
  cursor: pointer;
  transition: color 0.3s ease;
  /* Add vertical alignment */
  display: inline-flex;
  align-items: center;
}

.back-button span {
  font-size: 12px;
  color: var(--text-1);
  font-family: Helvetica, sans-serif;
  transition: color 0.3s ease;
  /* Add vertical alignment */
  display: inline-flex;
  align-items: center;
}

/* Hover effect */
.back-button-container:hover .back-button mat-icon,
.back-button-container:hover .back-button span {
  color: var(--accent-1);
}